<html>

<head>
  <title>Flexbox</title>
  <style type="text/css">
      *{
          margin: 0;
          padding: 0;
          font-family:
              cursive;
          box-sizing:
              border-box;
      }
      .flex-container{
          width:  100%;
          height: auto;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content:
              space-around;
          
      }
      .flex-box{
          width: 300px;
          height: 300px;
          background:#e0e0e0;
          color: black;
          font-size: 15px;
          text-align: center;
          line-height: 30px;
          border-radius: 20px;
          margin: 10px;
          box-shadow: 0 0 30px 0 rgba(0,0,0,0.08);
      }
  </style>
</head>
<body>
<div class="flex-container">
 <button type="button">
  <div class ="flex-box">
      1. EPA WaterSense showerheads  Energy savings of 5-10%

Use less water without compromising pressure, saving money on water heating bills

A 1.5GPM showerhead uses 40% less water and thus 40% less energy to heat the water.

A typical family will save 10,000 gallons/year of hot water with low-flow showerheads. 
  </div>
  </button>
  <div class ="flex-box">
      2. LED light bulbs Energy savings of 5-10%

Higher quality, longer-lasting light that costs less on electricity bills

LEDs use 85% less energy than incandescent bulbs, and reduce monthly energy costs by $20-30 for an average home.
  </div>
  <div class ="flex-box">
      3. Window Dressers Energy savings of 5-10%

Reduces draftiness, making you feel warmer and lowering heating costs

Insulated window inserts improve indoor comfort and energy efficiency for less than 1/10th the cost of replacing windows. www.windowdressers.org 
  </div>
  <div class ="flex-box">
      4. Heat pump water heater (HPWH) Energy savings of 10-20%

More energy efficient water heating, saving costs on long-term energy bills and reducing fossil fuel usage

Use 70% less energy than a standard electric water heater.

Significant rebates available through Efficiency Maine that increase their affordability.

Side benefit of helping dehumidify the space they’re in, like a damp basement.
  </div>
  <div class ="flex-box">
      5. Electric appliances Energy savings of up to 10%

Improved health and safety while improving energy costs and reducing fossil fuel usage

Measure your refrigerator’s energy use and upgrade to an EnergyStar model as needed. 

Replace gas cooking equipment with induction or electric for health and safety.
  </div>
  <div class ="flex-box">
      6. Energy audit Health and Safety

Comprehensive guide to energy issues within the home

Have a comprehensive audit to assess air leakage and insulation needs for your home.

Measures energy use, identifies opportunities for improvements, and identifies moisture problems or health and safety needs like ventilation and mold remediation. 
  </div><div class ="flex-box">
      7a. Basement/crawl space sealing Energy savings of 10-30%

Prevents heat from leaving the house and moisture and pests from entering

Sealing the basement or crawlspace blocks rodents and heat loss.

Vapor barrier prevents ground moisture from getting into the house - reducing mold.(Deleted some info)

  </div>
  <div class ="flex-box">
      7b. Attic and wall air sealing and insulation Energy savings of 10-25%

Prevents heat from escaping the house, improving the efficacy of insulation

Because warm air rises, a significant portion of heat loss is through the attic. 

Air sealing first ensures that insulation works properly.

We recommend 18-24” of cellulose insulation to achieve R60-R80 in attics.
  </div>
  <div class ="flex-box">
      8. Air source heat pumps Energy savings of 10-40%

More energy efficient air heating and cooling year-round, saving costs on long-term energy bills and reducing fossil fuel usage

Provide winter heating and summer cooling and dehumidification for your home.

Work in temperatures as low as -15F, and can be the sole source of heat if your home is well insulated.
  </div>
  <div class ="flex-box">
      9. Electric Vehicle

Removes gas bills and reduces fossil fuel dependence

A 2020 study by Consumer Reports found that the lifetime ownership costs were significantly lower for EVs. Most EVs saved between $6,000 - $10,000 over their lifetimes.
  </div>
  <div class ="flex-box">
      10. Solar Energy production up to 100%

Generates self-sufficient energy, lowering energy bills and reducing dependence on fossil fuels and commercial energy grids

Install rooftop solar to supply all your electricity needs.

30% federal tax credit and financing options are available.

Battery backup is needed for solar to work during a power outage
  </div>
</div>
</body>
</html>
